/* Base header styling */
.header {
  display: flex;
  justify-content: center; /* Center the header content horizontally */
  align-items: center;
  height: 80px;
  padding: 20px;
  background-color: #f4f4f4;
  width: 100%;
  box-sizing: border-box;
  position: fixed; /* Fix it at the top */
  top: 0;
  left: 0;
  z-index: 9999; /* Ensure the header is above other content */
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transitions for visibility */
  pointer-events: auto; /* Ensure pointer events are active */
}

/* Hidden state for header (when user scrolls down) */
.header.hidden {
  transform: translateY(-100%); /* Move the header out of view */
  opacity: 0; /* Make the header invisible */
  pointer-events: none; /* Prevent interaction when hidden */
}

/* Visible state for header (when user scrolls up) */
.header.visible {
  transform: translateY(0); /* Reset to original position */
  opacity: 1; /* Fully visible */
  pointer-events: auto; /* Enable interaction */
}

/* Header logo styles */
.header-logo {
  margin: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: absolute;
  left: 20px; /* Adjust as necessary */
}

.header-logo img {
  height: 40px; /* Adjust the height as needed */
}

/* Navigation container */
.nav-container {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Allow the nav container to grow and center itself */
}

/* Navigation menu */
.nav-menu {
  display: flex;
  justify-content: space-between; /* Space links evenly */
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Individual menu item */
.menu-item {
  position: relative;
  margin: 0 20px; /* Keep equal spacing between links */
}

/* Submenu styling */
.submenu {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #228573;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.menu-item:hover .submenu {
  display: block;
}

/* Link styles */
nav a {
  padding: 10px;
  text-decoration: none;
  color: #000;
}

nav a.active {
  font-weight: bold;
  color: #007BFF;
}

/* Header buttons styling */
.header-buttons {
  position: absolute;
  right: 20px; /* Lock to the right */
  display: flex;
  gap: 10px; /* Add some space between the buttons */
}

/* Button styling */
.quiz-button, .login-button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.quiz-button:hover, .login-button:hover {
  background-color: #0056b3;
}

.logo-image {
  width: 150px;
  height: auto;
}

/* Tablets and small desktops */
@media screen and (max-width: 992px) {
  .logo-image {
    width: 120px;
  }
}

/* Landscape phones and small tablets */
@media screen and (max-width: 768px) {
  .logo-image {
    width: 100px;
  }
}

/* Portrait phones */
@media screen and (max-width: 480px) {
  .logo-image {
    width: 80px;
  }
}
